<div id="user_lists">
  <% @users.each do |user| %>
  <div style="min-height: 200px; min-width: 200px; border: 1px solid black;float:left; margin: 0 5px;">
    <%= user.username %>
  </div>
  <% end %>
</div>