
<div id="wrapper">
  <div class="top-d">
    <div class="update"> <a href="http://#"> Update your Status </a> </div>
    <div class="notification">
      <div class="notifi-item"> <a href="http://#"> <img src="/assets/user.jpg"> </a> </div>
      <div class="notifi-item"> <a href="http://#"> <img src="/assets/chat.jpg"> </a>  </div>
      <div class="notifi-item"> <a href="http://#"> <img src="/assets/notification.jpg"> </a> </div>
    </div>
    <div class="search1"> <input type="text"> </div>
    <div class="search1-icon"> <a href="#"><img src="/assets/auto.png"></a>
    </div>
    <div class="notification">
      <div class="notifi-item"> <a href="http://#"> <img src="/assets/group.jpg"> </a> </div>
      <div class="notifi-item"> <a href="http://#"> <img src="/assets/notes.jpg"> </a>  </div>
      <div class="notifi-item"> <a href="http://#"> <img src="/assets/gallery.jpg"> </a> </div>
    </div>
  </div>

  <div class="left-panel">

    <div class="heading-text"> Victoria Ricciano
    </div>
    <div class="head-img"> <a href="http://#"><img src="/assets/img1.jpg"></a>
    </div>
    <div class="follow-blue"> <a href="http://#"><img src="/assets/btn-blue.png"> </a>
    </div>
    <div id="navi3" style="height:105px;">
      <ul>
        <li> <a href="#"onclick="$('#profile-sub').toggle();">My profile </a></li>
        <ul id="profile-sub" style="display:none;list-style: none;padding-left:10px;">
          <li><a href="#">Creat cv</a></li>
          <li><a href="<%= edit_user_path(current_user) %>">Change Account setting</a></li></ul>
        <li> <a href="">My Place</a></li>
        <li> <a href="">My People  </a></li>
        <li> <a href="#" onclick="$('#event-list').toggle();">My Events</a></li>
        <ul id="event-list" style="list-style: none;padding-left:10px;display:none;">
          <li><a href="#">Creat Events</a></li>
          <li><a href="#">View Events</a></li>
          <li><a href="#">Delate Events</a></li></ul>
        <li> <a href="">My Deals</a></li>
      </ul>
    </div>
    <div class="bottom-navi">
      <div class="btm-icon1"> <a href="#"><img src="/assets/iew.png"></a> </div> <div class="btm-text"> <a href="#"> View Profile </a> </div>

    </div>
    <div class="bottom-navi1">
      <div class="btm-icon1"> <a href="#"><img src="/assets/invite.png"></a> </div> <div class="btm-text">  <a href="#"> Invite Friends </a> </div>
    </div>
    <div class="bottom-navi1">
      <div class="btm-icon1"> <a href="#"><img src="/assets/find.png"></a> </div> <div class="btm-text">  <a href="#">Find Friends</a></div>
    </div>


  </div>
  <div class="middle-area">
    <div class="mid-top">
      <div class="mid-text"> <input type="text"> </div>
    </div>
    <div class="buttons">
      <div class="btn-mid">  <a href="#">Activity </a> </div>
      <div class="btn-mid1"> <a href="#">Follows (6)</a></div>
      <div class="btn-mid2"> <a href="#">Followers (6)</a></div>
    </div>
    <div class="content-mid">
      <div class="content-img"> <a href="#"><img src="/assets/icon-img.png"></a>
      </div>
      <div class="content-text">  Lorem lpsum is simply dummy
      </div>
      <div class="like-btn">
        <div class="like-text"> <a href=""> Like </a> </div>
        <div class="like-text"> <a href="#"> Comment </a> </div>
        <div class="like-text"> <a href="#"> Delete </a> </div>
      </div>
    </div>
    <div class="content-mid">
      <div class="content-img"> <img src="/assets/icon-img.png">
      </div>
      <div class="content-text">  Lorem lpsum is simply dummy
      </div>
      <div class="like-btn">
        <div class="like-text"> <a href="#"> Like </a> </div>
        <div class="like-text"> <a href="#"> Comment </a> </div>
        <div class="like-text"> <a href="#"> Delete </a> </div>
      </div>
    </div>
    <div class="content-mid">
      <div class="content-img"> <a href="#"><img src="/assets/icon-img.png"></a>
      </div>
      <div class="content-text">  Lorem lpsum is simply dummy
      </div>
      <div class="like-btn">
        <div class="like-text"> <a href="l#"> Like </a> </div>
        <div class="like-text"> <a href=""> Comment </a> </div>
        <div class="like-text"> <a href="#"> Delete </a> </div>
      </div>
    </div>
  </div>
  <div id="right-panel">
    <div class="right-head"> Profile Completeness
    </div>
    <div class="profile-bar"> <a href="#"><img src="/assets/bar.jpg"></a>
    </div>
    <div class="profile-text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard .
    </div>
    <div class="profile-btn"> <a href="#"> <img src="/assets/complete.jpg"> </a>
    </div>
  </div>