<section id="footer">
  <section class="footer-texta"> All Rights are Reserved  Mobbynet © 2013 </section>
  <section class="footer-textb">
    <section id="f-navi">
      <ul>
        <li> <a href="">About Us   | </a></li>
        <li> <a href="">Mobile App   | </a></li>
        <li> <a href="">Terms &amp; Conditions   |</a></li>
        <li> <a href="">Privacy policy  | </a></li>
        <li> <a href="">Contact us   | </a></li>
        <li> <a href="">Chat Support   |</a></li>
        <li> <a href="">How it works</a></li>
      </ul>
    </section>
  </section>
</section>

<%= javascript_include_tag "application" %>