<section id="serchber">
  <section class="serber-wapper">
    <section class="regester-img2"><h2>Discover  and share Your City</h2></section>
  </section>
</section>

<section id="regesterbody">
  <section id="body-wapper">

    <form action="index.html" method="get" class="pople-fum">
      <input name="" type="button" value="People"  class="pople-btn"/>
      <input name="" type="button" value="Places" class="pople-btn2" />
      <input name="" type="button" value="Events"  class="pople-btn3"/>
      <input name="" type="button" value="Deals" class="pople-btn4" />
      <input name="" type="button" value="Shouts"  class="pople-btn5"/>
    </form>

    <aside class="left">
      <section class="late-box"> <section class="late-dtl">Last Deals</section></section>
      <section class="late-box"><section class="late-dtl">Last People</section></section>
      <section class="late-box1">
        <p class="connet">Connect With Your Social Networks</p>
        <input name="" type="button" value="Invoide Your Frind"  class="frin-btn"/>
        <input name="" type="button" value="Fllow Your Frinds" class="frin-btn2" />
      </section>
    </aside>

    <aside class="center">
      <form action="index.html" method="get">
        <input name="" type="text" placeholder="Search" class="serch-area" />
        <input name="" type="button" value="Search"  class="serch-btn5"/>
      </form>
      <section class="map-img"><img src="image/map2.jpg"  alt="" /></section>
      <section  class="populer">Populer Place In Amsterdam  <p class="chikin">CHECKINS/DEEZE WEEK</p> </section>
      <section class="station"><img src="image/station-icond.png"  alt="" /></section>
      <h3 class="station-text">Station Amsterdam Centraal <br /><p class="plan">Station splan 1-9</p></h3>
      <input name="" type="button" value="115"  class="seventy"/> <input name="" type="button" value="1077"  class="seventy"/>
      <section class="border"></section>
      <section class="station"><img src="image/next-station.png" alt="" /></section>
      <h3 class="station-text">The Next Web HQ <br /><p class="plan">Arena boulevard 602-6208</p></h3>
      <input name="" type="button" value="222"  class="seventy"/> <input name="" type="button" value="26"  class="seventy"/>
      <section class="border"></section>

      <section class="station"><img src="image/station-icond.png"  alt="" /></section>
      <h3 class="station-text">Station Amsterdam Centraal <br /><p class="plan">Station splan 1-9</p></h3>
      <input name="" type="button" value="155"  class="seventy"/> <input name="" type="button" value="16"  class="seventy"/>
      <section class="border"></section>

      <section class="station"><img src="image/reng-icon.png"  alt="" /></section>
      <h3 class="station-text">Westerasfabriek<br /><p class="plan">Pazzanistraat 41</p></h3>
      <input name="" type="button" value="156"  class="seventy"/> <input name="" type="button" value="18"  class="seventy"/>
      <section class="border"></section>

      <section class="station"><img src="image/havy-icon.png" w alt="" /></section>
      <h3 class="station-text">Havy HQ<br /><p class="plan">Frieneriokasplan 42</p></h3>
      <input name="" type="button" value="134"  class="seventy"/> <input name="" type="button" value="17"  class="seventy"/>
      <section class="border"></section>
    </aside>

    <aside class="right">
      <section class="event-are"><section class="upcomin-bg">Up Comming Events</section></section>
      <section class="event-are2">
        <section class="upcomin-bg2">Shoutbox</section>
        <section  class="ent-img"> <img src="image/emet-img.png"  alt="" /> </section><br />
        <p class="exomp">Eximpot</p>
        <p class="decem">December 24,16:51 PM</p>
        <p class="http">http//www.google.com</p>
        <section class="bl-line"></section>
        <section  class="ent-img"> <img src="image/emet-img.png"  alt="" /> </section><br />
        <p class="exomp">Eximpot</p>
        <p class="decem">December 24,16:51 PM</p>
        <p class="http">http//www.google.com</p>
        <section class="bl-line"></section>
        <section  class="ent-img"> <img src="image/emet-img.png"  alt="" /> </section><br />
        <p class="exomp">Eximpot</p>
        <p class="decem">December 24,16:51 PM</p>
        <p class="http">http//www.google.com</p>
        <section class="bl-line"></section>
        <section  class="ent-img"> <img src="image/emet-img.png"  alt="" /> </section><br />
        <p class="exomp">Eximpot</p>
        <p class="decem">December 24,16:51 PM</p>
        <p class="http">http//www.google.com</p>
        <section class="bl-line"></section>
      </section>
    </aside>
  </section>
</section>

